#cloud-config

${cloud_init_modules_section}

# SSH enabled for tunneling to vLLM and Ollama ports
ssh_pwauth: false
disable_root: false

# Template variable - will be replaced at runtime
${packages_section}

write_files:
  - path: /etc/environment
    append: true
    content: |
      RUN_ID=${run_id}
      HF_TOKEN=${hf_token}
      GCS_BUCKET=${gcs_bucket}
      TESTS_FILE=/tmp/tests.tar.gz.base64
      SPNL_GITHUB=${spnl_github}
      GITHUB_SHA=${spnl_github_sha}
      GITHUB_REF=${spnl_github_ref}
      SPNL_RELEASE=${spnl_release}
      VLLM_ORG=${vllm_org}
      VLLM_REPO=${vllm_repo}
      VLLM_BRANCH=${vllm_branch}
      MODEL=${model}
      VLLM_PATCHFILE=/tmp/vllm.patch
${vllm_config_section}
  - path: /tmp/setup-dev.sh
    permissions: '0755'
    content: |
      ${setup_dev_script}
  - path: /tmp/vllm.patch
    # cloudinit will also base64 decode this for us. https://docs.cloud-init.io/en/latest/reference/yaml_examples/write_files.html#provide-gzipped-binary-content
    encoding: gzip
    permissions: '0644'
    content: !!binary |
      ${vllm_patch_b64}

${runcmd_section}

# Made with Bob
