name: CLI image build

on:
  release:
    types: [published]
  pull_request:
    branches: [ main ]

# cancel any prior runs for this workflow and this PR (or branch)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

  call_image_builder:
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        containerfile:
          - Containerfile.hostbuild
          - Containerfile.hostbuild.ollama
    permissions:
      # Permissions for the build job, which can be overridden at the step level
      # The permissions are set to allow the job to write to the GitHub Container Registry (GHCR) and read from the repository.
      attestations: write
      actions: read
      checks: write
      contents: write
      deployments: none
      id-token: write
      issues: read
      discussions: read
      packages: write
      pages: none
      pull-requests: read
      repository-projects: read
      security-events: read
      statuses: read
    uses: ./.github/workflows/cli-image-build-callable.yml
    with:
      push: ${{ startsWith(github.ref, 'refs/tags/') }}
      image: ghcr.io/ibm/spnl${{ matrix.containerfile != 'Containerfile.hostbuild' && '-ollama' || '' }}
      containerfile: ${{ matrix.containerfile }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
