name: core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# cancel any prior runs for this workflow and this PR (or branch)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  
env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: core
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Aggressive disk space cleanup # https://dev.to/mathio/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-3pjg
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm

          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet

          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift

          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup

          # Remove Julia
          sudo rm -rf /usr/local/julia*

          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android

          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium

          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google

          # Remove Azure CLI
          sudo rm -rf /opt/az

          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell        

      - name: download rust-cache
        run: |
          mkdir rust-cache-action && cd rust-cache-action
          mkdir -p dist/save
          (cd dist/save && wget https://raw.githubusercontent.com/Swatinem/rust-cache/refs/heads/master/dist/save/index.js)
          mkdir -p dist/restore
          (cd dist/restore && wget https://raw.githubusercontent.com/Swatinem/rust-cache/refs/heads/master/dist/restore/index.js)
          wget https://raw.githubusercontent.com/Swatinem/rust-cache/refs/heads/master/action.yml
      - uses: ./rust-cache-action

      - name: Setup protoc
        run: |
          if [ $RUNNER_OS = "Linux" ]
          then
            if [ $RUNNER_ARCH = "X64" ]
            then arch=x86_64
            elif [ $RUNNER_ARCH = "ARM64" ]
            then arch=aarch_64
            else
              echo "Unsupported arch for protoc"
              exit 1
            fi
            curl -L -o protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-linux-$arch.zip
          elif [ $RUNNER_OS = "macOS" ]
          then curl -L -o protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-osx-universal_binary.zip
          fi
          unzip protoc.zip -d $HOME/.local
      # - uses: Swatinem/rust-cache@v2
      # - uses: pydantic/ollama-action@v3

      - name: report cargo version
        run: cargo --version

      - name: report rustc version
        run: rustc --version

      - name: install ollama
        run: |
          if [ "$RUNNER_OS" = "Linux" ]; then
            curl -fsSL https://ollama.com/install.sh | bash
            # note: install.sh will start ollama as an systemd service, no need to start it ourselves (actively harmful -- port conflict)
          elif [ "$RUNNER_OS" = "macOS" ]; then
            brew update
            brew install ollama
            brew services start ollama
          fi

      - name: cargo test
        run: cargo test --all-features -p spnl -p spnl-cli -- --nocapture
        
      - name: rustfmt
        run: cargo fmt --all -- --check

      - name: clippy
        run: cargo clippy --workspace --all-features --tests -- -D warnings
