name: core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# cancel any prior runs for this workflow and this PR (or branch)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0 # https://corrode.dev/blog/tips-for-faster-ci-builds/#environment-flags-to-disable-incremental-compilation
  CARGO_PROFILE_TEST_DEBUG: 0 # https://corrode.dev/blog/tips-for-faster-ci-builds/#disable-debug-info

jobs:
  build_and_test:
    name: core
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup protoc
        run: |
          if [ $RUNNER_OS = "Linux" ]
          then
            if [ $RUNNER_ARCH = "X64" ]
            then arch=x86_64
            elif [ $RUNNER_ARCH = "ARM64" ]
            then arch=aarch_64
            else
              echo "Unsupported arch for protoc"
              exit 1
            fi
            curl -L -o protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-linux-$arch.zip
          elif [ $RUNNER_OS = "macOS" ]
          then curl -L -o protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-osx-universal_binary.zip
          fi
          unzip protoc.zip -d $HOME/.local

      - name: report cargo version
        run: cargo --version

      - name: report rustc version
        run: rustc --version

      - name: install ollama
        run: |
          # Disk space cleanup # https://dev.to/mathio/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-3pjg
          ./.github/scripts/free-up-disk-space-fast.sh &

          if [ "$RUNNER_OS" = "Linux" ]; then
            curl -fsSL https://ollama.com/install.sh | bash
            # note: install.sh will start ollama as an systemd service, no need to start it ourselves (actively harmful -- port conflict)
          elif [ "$RUNNER_OS" = "macOS" ]; then
            brew update
            brew install ollama
            brew services start ollama
          fi
          wait # for disk space cleanup

      - name: cargo test and clippy
        run: |
          cargo test --all-features -p spnl -p spnl-cli -- --nocapture & \
          cargo clippy --workspace --all-features --tests --no-deps -- -D warnings
          wait

      - name: rustfmt
        run: cargo fmt --all -- --check
