name: core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# cancel any prior runs for this workflow and this PR (or branch)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  
env:
  CARGO_TERM_COLOR: always
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  build_and_test:
    name: core
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Disk space cleanup # https://dev.to/mathio/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-3pjg
        run: ./.github/scripts/free-up-disk-space-fast.sh

      - name: download sccache action
        run: |
          mkdir sccache-action && cd sccache-action
          mkdir -p dist/setup
          (cd dist/setup && wget https://raw.githubusercontent.com/Mozilla-Actions/sccache-action/refs/heads/main/dist/setup/index.js)
          mkdir -p dist/show_stats
          (cd dist/show_stats && wget https://raw.githubusercontent.com/Mozilla-Actions/sccache-action/refs/heads/main/dist/show_stats/index.js)
          wget https://raw.githubusercontent.com/Mozilla-Actions/sccache-action/refs/heads/main/action.yml
      - uses: ./sccache-action

      - name: Setup protoc
        run: |
          if [ $RUNNER_OS = "Linux" ]
          then
            if [ $RUNNER_ARCH = "X64" ]
            then arch=x86_64
            elif [ $RUNNER_ARCH = "ARM64" ]
            then arch=aarch_64
            else
              echo "Unsupported arch for protoc"
              exit 1
            fi
            curl -L -o protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-linux-$arch.zip
          elif [ $RUNNER_OS = "macOS" ]
          then curl -L -o protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-osx-universal_binary.zip
          fi
          unzip protoc.zip -d $HOME/.local
      # - uses: Swatinem/rust-cache@v2
      # - uses: pydantic/ollama-action@v3

      - name: report cargo version
        run: cargo --version

      - name: report rustc version
        run: rustc --version

      - name: install ollama
        run: |
          if [ "$RUNNER_OS" = "Linux" ]; then
            apt update && apt install -y zstd
            curl -fsSL https://ollama.com/install.sh | bash
            # note: install.sh will start ollama as an systemd service, no need to start it ourselves (actively harmful -- port conflict)
          elif [ "$RUNNER_OS" = "macOS" ]; then
            brew update
            brew install ollama
            brew services start ollama
          fi

      - name: cargo test
        run: cargo test --all-features -p spnl -p spnl-cli -- --nocapture
        
      - name: rustfmt
        run: cargo fmt --all -- --check

      - name: clippy
        run: cargo clippy --workspace --all-features --tests -- -D warnings
