name: llm-d image build

on:
  workflow_run:
    workflows: ["publish_pypi"]
    types: 
      - completed
    branches:
      - main
# for debugging
#  pull_request:
#    branches: [ main ]

# cancel any prior runs for this workflow and this PR (or branch)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write  

env:
  RELEASE_VERSION: latest # this may overridden below

jobs:
  build_and_push:
    name: build and push
    if: "!contains(github.event.pull_request.title, 'chore(deps)')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gpu:
          - cuda
    steps:
      - uses: actions/checkout@v6

      - name: Aggressive disk space cleanup
        run: ./.github/scripts/free-up-disk-space.sh

      - name: Extract release tag to RELEASE_VERSION env var to detect whether head_branch is a tag
        id: detect
        shell: bash
        env:
          REF_NAME: ${{ github.event.workflow_run.head_branch }}
        run: |
          # exits 0 only if a tag with that name exists
          if git rev-parse -q --verify "refs/tags/${REF_NAME}" ; then
            # then this is a tag release
            echo "$RELEASE_VERSION=$REF_NAME" >> $GITHUB_ENV
          fi        
      - name: Verify RELEASE_VERSION
        run: echo "RELEASE_VERSION=$RELEASE_VERSION"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # We only need to log in if we are going to push
      - name: Login to Container Registry
        uses: docker/login-action@v3
#        if: ${{ github.event.workflow_run.conclusion == 'success' && !github.event.release.prerelease }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Container Image for ${{ matrix.gpu }}
        uses: docker/build-push-action@v6
        with:
          push: true #${{ github.event.workflow_run.conclusion == 'success' && !github.event.release.prerelease }} # Only push if we are responding to a release
          cache-from: type=gha                              # Use github action mechanisms to cache layers
          cache-to: type=gha,mode=max                       # Use github action mechanisms to cache layers
          file: docker/llm-d/Containerfile.${{ matrix.gpu }}
          tags: ghcr.io/ibm/spnl-llm-d-${{ matrix.gpu }}:${{ env.RELEASE_VERSION }},ghcr.io/ibm/spnl-llm-d-${{ matrix.gpu }}:latest
          build-args: |
            SPNL_VERSION=${{ env.RELEASE_VERSION }}
